<div class="card">
    <div class="card-image">
        <img src="{{ photo }}" class="activator">
        {{#if started}}
            <i class="fa fa-circle fa-lg pending-color" aria-hidden="true"></i>
        {{/if}}
        {{#if done}}
            <i class="fa fa-check fa-lg done-color" aria-hidden="true"></i>
        {{/if}}
    </div>
    <div class="card-content">
        <div class="card-content__header">
            <span class="card-title activator long-word">{{ name }}</span>
            <i class="fa fa-arrow-up activator fa-2x" aria-hidden="true"></i>
        </div>
        <h6 class="quest-block__caption__author">
            Created by: {{ authorName }}
        </h6>
        <div class="card__ratings">
            <div class="likes">
                <div class="likes__img likes__img_empty"></div>
                <div class="likes__count count-badge">{{ likesCount }}</div>
            </div>
            <div class="people-done">
                <div class="people-done__img"></div>
                <div class="people-done__count count-badge">{{ doneCount }}</div>
            </div>
        </div>
        <p><a href="/quests/{{ id }}">Перейти</a></p>
    </div>
    <div class="card-reveal">
        <i class="fa fa-times fa-2x right" aria-hidden="true"></i>
        <span class="card-title long-word"><a href="/quests/{{ id }}">{{ name }}</a></span>
        <p class="long-word">
            {{ description }}
        </p>
    </div>
</div>
