<header>
    <div class="city">
        <p>{{ currentCity }}</p>
        <button name="chooseCity">Выбрать город</button>
    </div>

    <div class="auth">
        {{#if user}}
            <div class="avatar">
                <img src="{{ user.picture }}" width="100" height="100" alt="avatar {{user.displayName}}">
            </div>
            <div>{{user.displayName}}</div>
            <a href="/logout">Выйти</a>
        {{else}}
            <a href="/login">Войти</a>
        {{/if}}
    </div>

</header>
