<header>
    <div class="header-logo">
        <div class="header-logo__img"></div>
    </div>
    <nav class="navigation">
        <p class="navigation-city">{{ currentCity }}</p>
        <a class="navigation-main" href="/">Главная</a>
        <a class="navigation-quests" href="/quests">Квесты</a>
    </nav>


    <div class="header-auth">
        {{#if user}}
            <p class="header-auth__nickname">{{user.displayName}}</p>
            <div class="header-auth__avatar">
                <img src="{{ user.picture }}" alt="avatar {{user.displayName}}">
            </div>
            <a class="header-auth__logout" href="/logout">Выйти</a>
        {{else}}
            <a class="header-auth__login" href="/login">Войти</a>
        {{/if}}
    </div>

</header>
