<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="{{ meta.charset }}">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ meta.description }}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        {{#if isDev}}
            <link rel="stylesheet" href="/main.css">
        {{else}}
            <link rel="stylesheet" href="//hackathonteam2.surge.sh/main.css">
        {{/if}}
    </head>
    <body>
        {{> header/header }}

        {{> footer/footer }}

        {{#if isDev}}
            <script src="/main.js"></script>
        {{else}}
            <script src="//hackathonteam2.surge.sh/main.js"></script>
        {{/if}}
    </body>
</html>
