<article class="stage container-fluid">
    <div class="row">
        <div class="stage-photo col-md-4">
            <a href="{{ photo }}" target="_blank" class="stage__image">
                <img src="{{ photo }}" alt="{{ name }}" class="img-responsive stage-photo__img">
            </a>
        </div>
        <div class="stage-info col-md-8">
            <div class="stage-checkin">
                <button class="btn btn-success stage-checkin__button">Check in!</button>
            </div>
            <div class="stage-description">
                <div class="stage-description__name">
                    <h3>{{ name }}</h3>
                </div>
                <div class="stage-description__description">
                    <p>{{ hint }}</p>
                </div>
            </div>
        </div>
    </div>
    <section class="stage-stats">
        <div class="stage-stats-likes">
            <div class="stage-stats-like__img stage-stats-like__img_empty"></div>
            <span class="badge stage-stats-count"> {{ likesCount }}</span>
        </div>
        <div class="stage-stats-dislikes">
            <div class="stage-stats-dislike__img stage-stats-dislike__img_empty"></div>
            <span class="badge stage-stats-count"> {{ dislikesCount }}</span>
        </div>
    </section>
    <div class="stage-stats__comments">
        <span>{{ commentsCount }}</span>
    </div>
</article>
