<div class="row stage-block stage_{{ _id }}" data-id="{{ _id }}">
    <div class="stage-caption">
        <div class="stage-photo">
            <a href="{{ photo }}" target="_blank">
                {{#if done}}
                    <img src="{{ photo }}" alt="{{ name }}" class="stage-photo__img" data-index="{{@index}}">
                    <div class="check-container">
                        <img src="http://vignette2.wikia.nocookie.net/dumbledoresarmyroleplay/images/2/2f/GreenTick.png/revision/latest?cb=20160109171926" class="stage-photo__done-layout__check">
                    </div>
                {{else}}
                    <img src="{{ photo }}" alt="{{ name }}" class="stage-photo__img" data-index="{{@index}}">
                {{/if}}
            </a>
        </div>
        <div class="stage-description">
            <div class="stage-description__name">
                <h3>{{ name }}</h3>
            </div>
            <div class="stage-description__description">
                <p>{{ description }}</p>
            </div>
        </div>
        <div class="stage-checkin">
            {{#if done}}
                <button class="btn btn-success" disabled>Выполнено!</button>
            {{else}}
                {{#if started}}
                    <button class="btn btn-primary stage-checkin__button checkin">Отметиться</button>

                {{else}}
                    <button class="btn btn-primary stage-checkin__button" disabled>Отметиться</button>
                {{/if}}
                <input type="hidden" name="stageID" value="{{ _id }}">
                <input type="hidden" name="questID" value="{{ questId }}">
                <input type="hidden" name="photo" value="{{ photo }}">
                <input type="hidden" name="done" value="{{ done }}">
                <input type="hidden" name="name" value="{{ name }}">
                <input type="hidden" name="description" value="{{ description }}">
                <input type="hidden" name="likesCount" value="{{ likesCount }}">
                <input type="hidden" name="dislikesCount" value="{{ dislikesCount }}">
                <input type="hidden" name="commentsCount" value="{{ commentsCount }}">
            {{/if}}
        </div>
    </div>

    <div class="col-md-3 col-md-offset-9 stage-stats" data-id="{{_id}}">
    {{> likes/likes }}
    </div>
    
    <div class="btn btn-primary stage-comments__show-button" data-id="{{ _id }}">Комментарии</div>
    {{> stage_comments/stage_comments}}
    <div id="stage-modal-{{@index}}" class="modal fade stage-modal" role="dialog">
        <div class="modal-dialog stage-modal__dialog">
            <div class="modal-content stage-modal__content">
                <div class="modal-body">
                    <img src="{{ photo }}" alt="{{ name }}" class="stage-modal__image">
                </div>
                <div class="modal-footer">
                    <button class="close" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
